{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'administrator.css' %}" />
    <title>Judgers</title>
    <style></style>
  </head>
  <body>
    <!-- The sidebar -->
    <div class="sidebar">
      <a class="active" href="#home">Home</a>
      <a href="judges">Judges</a>
      <a href="judgers">Judgers</a>
      <a href="positions">Positions</a>
      <a href="candidates">Candidates</a>
      <a href="results">Result</a>
      <a href="logout">Logout</a>
    </div>

    <div class="content">
      <div><a href="add_judger">Add Judger</a></div>
      <!--Table-->
      <table id="table1" class="table table-bordered">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Panther Id</th>
          <th>Subject</th>
          <th>Education Level</th>
          <th>Action</th>
        </thead>
        <!--Judger information-->
        <tbody>
          {% for judger in data %}
          <tr>
            <td>{{ judger.first_name }}</td>
            <td>{{ judger.last_name }}</td>
            <td>{{ judger.panther_id }}</td>
            <td>{{ judger.subject }}</td>
            <td>{{ judger.level}}</td>

            <td>
              <!--Edit button-->
              <button>Edit</button>

              <!--Delete Judger-->
              <form action="delete_judger" method="post">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="panther_id"
                  value="{{ judger.panther_id }}"
                />
                <input type="submit" id="delete" value="Delete" />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Edit -->
      <div>
        <h1>Edit Judger</h1>
      </div>
      <div>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="input-cont">
            <label for="first_name">First Name</label>
            <input
              type="text"
              name="first_name"
              value="{{ judger.first_name }}"
            />
          </div>
          <div class="input-cont">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" value="{{ judger.last_name}}" />
          </div>
          <div class="input-cont">
            <label for="panther_id">Panther Id</label>
            <input
              type="number"
              name="panther_id"
              value="{{ judger.panther_id}}"
            />
          </div>
          <div class="input-cont">
            <label for="subject_choices">Subject</label>
            <select
              name="subject_choices"
              id="subject_choices"
              value="{{ judger.subject}}"
            >
              <option hidden disabled selected value></option>
              <option value="CSC">Computer Science</option>
              <option value="PHY">Physics</option>
              <option value="BIO">Biology</option>
              <option value="CHEM">Chemistry</option>
            </select>
          </div>
          <div class="input-cont">
            <label for="level_choices">Education Level</label>
            <select
              name="level_choices"
              id="level_choices"
              value="{{ judger.level}}"
            >
              <option hidden disabled selected value></option>
              <option value="Grad">Graduate Student</option>
              <option value="Prof">Professor</option>
            </select>
          </div>
          <div>
            <button type="button" id="close">Close</button>
            <button type="button" id="save">Save</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
